<div class="flex flex-row w-screen h-screen">
  <div class="bg-white p-10 pl-5 flex flex-col border-solid border-r">
    <a href="#" class="text-3xl text-gray-600 hover:text-black">Music</a>
    <a href="#" class="text-3xl text-gray-600 hover:text-black">Shows</a>
    <a href="#" class="text-3xl text-gray-600 hover:text-black">Browse</a>
    <a href="#" class="text-3xl text-gray-600 hover:text-black">Favorite</a>
  </div>

  <div class="flex-1 bg overflow-scroll">
    {{outlet}}
  </div>
</div>
